<form (ngSubmit)="update(product)" *ngIf="product$ | async as product">
  <div class="form-group">
    <label>Name</label>
    <input
      name="name"
      [(ngModel)]="product.name"
      type="text"
      class="form-control"
    ></div>
    <div class="form-group">
      <img [src]="getImageSrc(product)" alt="" class="product__image--preview">
      <app-file-uploader (uploaded)="uploadSuccess($event)"></app-file-uploader>
    </div>
  <button class="btn btn-primary mt-4">
    Update
  </button>
</form>

